body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #1f2937;
    color: #f9fafb;
    margin: 2;
    padding: 0;
    align-items: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

select{
    background-color: black;
    border: 0;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
}

button{
    background-color: black;
    border: 0;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 12pt;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

span{
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: rgb(21, 21, 21);
    transition: .2s;
}

input{
    background-color: black;
    border: 0;
    color: white;
    width: 250px;
    border-radius: 5px;
    height: 40px;
    font-size: 12pt;
}

table {
    width: auto;
    font-size: 222pt;
    border-collapse: collapse; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

th, td {
    border: 1px solid #4b5563;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
}

thead th {
    background-color: #374151; 
    font-weight: bold;
    text-transform: uppercase;
}
        
tbody td:first-child {
    font-weight: bold;
    background-color: #374151;
}
